.solar-panel {
    position: absolute;
    right: 0;
    width: 70px;
    margin: 10px;
}

svg {
    font-family: Sans-Serif, Arial;
}

.graphic-card-holder {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.line {
    stroke-width: 2;
    fill: none;
}

.axis path {
    stroke: black;
}

.text {
    font-size: 12px;
}

.title-text {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.tooltip {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    fill: black;
}